    <div class="container">
        <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 400px;">
                <h4 class="card-title mt-3 text-center">Create a New Recipe</h4>
                <form>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input name="" class="form-control" placeholder="Recipe Name" type="text">
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="bi bi-list-check"></i> </span>
                        </div>
                        <input name="" class="form-control" placeholder="Recipe Instructions" type="text">
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">

                    </div>
                    <!-- Ingredient 1 -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="bi bi-patch-check"></i> </span>
                        </div>
                        <select class="form-control">
                            <option selected=""> Select Ingredient #1</option>
                            <option>penne rigate</option>
                            <option>olive oil</option>
                            <option>garlic</option>
                            <option>chopped tomatoes</option>
                            <option>olive oil</option>
                            <option>garlic</option>
                        </select>
                    </div>
                    <!-- Ingredient 2 -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="bi bi-patch-check"></i> </span>
                        </div>
                        <select class="form-control">
                            <option selected=""> Select Ingredient #2</option>
                            <option>penne rigate</option>
                            <option>olive oil</option>
                            <option>garlic</option>
                            <option>chopped tomatoes</option>
                            <option>olive oil</option>
                            <option>garlic</option>
                        </select>
                    </div>
                    <!-- Ingredient 3 -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="bi bi-patch-check"></i> </span>
                        </div>
                        <select class="form-control">
                            <option selected=""> Select Ingredient #3</option>
                            <option>penne rigate</option>
                            <option>olive oil</option>
                            <option>garlic</option>
                            <option>chopped tomatoes</option>
                            <option>olive oil</option>
                            <option>garlic</option>
                        </select>
                    </div>
                    <!-- Ingredient 4 -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="bi bi-patch-check"></i> </span>
                        </div>
                        <select class="form-control">
                            <option selected=""> Select Ingredient #4</option>
                            <option>penne rigate</option>
                            <option>olive oil</option>
                            <option>garlic</option>
                            <option>chopped tomatoes</option>
                            <option>olive oil</option>
                            <option>garlic</option>
                        </select>
                    </div>
                    <!-- Create Btn -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Create </button>
                    </div>
                </form>
            </article>
        </div> <!-- card.// -->
    </div>
    <!--container end.//-->