    <div class="container">



        <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 400px;">
                <h4 class="card-title mt-3 text-center">Create a New Recipe</h4>


                <form>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input name="" class="form-control" id="recipe-name" placeholder="Recipe Name" type="text">
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="bi bi-list-check"></i> </span>
                        </div>
                        <textarea class="form-control" id="recipe-instructions" rows="3"
                            placeholder="Recipe Instructions"></textarea>
                    </div> <!-- form-group// -->

                    <!-- Ingredient 1 -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="bi bi-patch-check"></i> </span>
                        </div>
                        <input class="form-control" id="ingredient-1" type="text" placeholder="Ingredient 1">

                        </input>
                    </div>

                    <!-- Ingredient 2 -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="bi bi-patch-check"></i> </span>
                        </div>
                        <input class="form-control" id="ingredient-2" type="text" placeholder="Ingredient 2">

                        </input>
                    </div>

                    <!-- Ingredient 3 -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="bi bi-patch-check"></i> </span>
                        </div>
                        <input class="form-control" id="ingredient-3" type="text" placeholder="Ingredient 3">

                        </input>
                    </div>

                    <!-- Ingredient 4 -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="bi bi-patch-check"></i> </span>
                        </div>
                        <input class="form-control" id="ingredient-4" type="text" placeholder="Ingredient 4">

                        </input>
                    </div>

                    <!-- Ingredient 5 -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="bi bi-patch-check"></i> </span>
                        </div>
                        <input class="form-control" id="ingredient-5" type="text" placeholder="Ingredient 5">

                        </input>
                    </div>

                    <!-- Ingredient 6 -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="bi bi-patch-check"></i> </span>
                        </div>
                        <input class="form-control" id="ingredient-6" type="text" placeholder="Ingredient 6">

                        </input>
                    </div>

                    <!-- Ingredient 7 -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="bi bi-patch-check"></i> </span>
                        </div>
                        <input class="form-control" id="ingredient-7" type="text" placeholder="Ingredient 7">

                        </input>
                    </div>

                    <!-- Ingredient 8 -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="bi bi-patch-check"></i> </span>
                        </div>
                        <input class="form-control" id="ingredient-8" type="text" placeholder="Ingredient 8">

                        </input>
                    </div>

                    <!-- Ingredient 9 -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="bi bi-patch-check"></i> </span>
                        </div>
                        <input class="form-control" id="ingredient-9" type="text" placeholder="Ingredient 9">

                        </input>
                    </div>

                    <!-- Ingredient 10 -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="bi bi-patch-check"></i> </span>
                        </div>
                        <input class="form-control" id="ingredient-10" type="text" placeholder="Ingredient 10">

                        </input>
                    </div>

                    <!-- Create Btn -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block" id="create-btn"> Create </button>
                    </div>
                </form>
            </article>
        </div> <!-- card.// -->

    </div>
    <!--container end.//-->